{% extends 'layout.twig' %}

{% block body %}
  <header>
    <h1>{{title}}</h1>
  </header>
  <nav>
    <a href="{{iruser}}">Login</a>
    <br>
    <a href="#">{{user}}</a>
    <br>
    <a href="{{irproduct}}">Crear producto</a>
  </nav>
  <p>Bienvenido a la tienda de {{title}}</p>
  
  <div class="container">
    <div class="catalogo"></div>
  </div>
  <script src="/javascripts/scriptA.js"></script>
{% endblock %}